.hero-section{
    margin: 0 auto;
    background-image:
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("./images/container1.png");
    height: 900px;
    width:100%;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    padding: 24px 60px 80px 60px;
    box-sizing: border-box;
}
.navbar{

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


li{list-style: none;}

.logo{width: 128px;
height: 128px;
opacity: 1;
margin-left: 8px;
padding:  16px 8px;
display: block;
}



.hero-content{
  margin: auto;
  text-align: center;
  max-width: 768;
  width: 100%;
height: auto;
opacity: 1;
color:#ffffff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}

.nav-links{display: flex;
flex-direction: row;
gap:32px;
}

.nav-links a{

  color: #ffffff !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.nav-actions{
display: flex;
align-items: center;
color: #ffffff;
gap:20px
}

.btn-quote{
background-color: rgba(255,255,255,0.2);
color: #ffffff;
text-decoration: none;
width: 120;
height: 36;
padding: 7.5px 25px 8.5px 25px;
opacity: 1;
border-radius: 6px;
font-size: 14px;
}



.hero-content h1{ 
font-weight: 700;
font-style: Bold;
font-size: 96px;
line-height: 120px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
}


.hero-content p{
font-weight: 400;
font-style: Regular;
font-size: 24px;
line-height: 39px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
}


.green-btn{
display: inline-flex ;
align-items: center;
border: none;
box-sizing: border-box;
justify-content: center;
text-align: center;
text-decoration: none;
color: #ffffff;
font-weight: 600;
font-style: Semi Bold;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
background-color:#30AA4D;
width: 283px;
height: 40px;
padding: 16px 40px;
opacity: 1;
border-radius: 6px;


}


.vid-btn{gap: 8px;
  align-items: center;
  display: inline-flex;
font-family: Font 1;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-decoration: none;
color: #ffffff;
border:  2px solid #ffffff;
box-sizing: border-box;
height: 40px;
padding: 16px 18px;
}

.hero-btns{

  margin-top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}



.about{background-color: #30AA4D;
display: flex;
align-items: center;
justify-content: center;
gap: 40px;
color: #ffffff;
padding:96px 0;
width: 100%;
margin: 0 auto;
}


.content-left{
  flex: 1;
  width: 50%;
}

.content-left .sub-title{font-family: Font 1;
font-weight: 600;
font-style: Semi Bold;
font-size: 14px ;
line-height: 20px;
letter-spacing:0.35px;
vertical-align: middle;
text-transform: uppercase;
}

.content-left h2{
  font-family: Font 1;
font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 40px;
letter-spacing: 0%;
vertical-align: middle;

}


.content-left .example {
font-family: Font 1;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 29_25;
letter-spacing: 0%;
vertical-align: middle;
}



.feature-grid{
display: grid;
grid-template-columns: 1fr 1fr ;
margin-bottom: 30px;
gap:12px;
margin-bottom: 25px;
}

.btn-read-more{
display: inline-block;
background-color: #ffffff;
width: 202;
height: 40;
opacity: 1;
padding-top: 12px;
padding-right: 32px;
padding-bottom: 12px;
padding-left: 32px;
border-radius: 6px;
text-decoration: none;
color:#123205;
}

 .img-right img{
  width: 100%;
max-width: 544px;
height: 502px;
opacity: 1;
border-radius: 10px;
padding: 1px;
display: block;
object-fit: cover;
}
.img-right{
  flex: 1;
  position: relative !important;
width: 50%;}


.card{box-sizing: border-box;
  align-items: center !important;
  justify-content: space-between !important;
  bottom: 20px;
left:50%;
  width: 494px;
  max-width: 95% !important;
height: 102px;
border-radius: 10px;
border-top: 1px solid #384153;
padding: 16px 20px;
position: absolute !important;
background-color: rgba(255,255,255,0.95);
display: flex !important;
z-index: 99 !important;
transform: translateX(-50%) !important;
}

.card-1 , .card-2 , .card-3{
  align-items: center !important;
  flex: 1;
justify-content: center !important;
  flex-direction: column !important;
  display: flex !important;
  text-align: center !important;
}

.card h3 {
  width: 100%;
  margin: 0;
font-weight: 700;
font-style: Bold;
font-size: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #00751C;
}

.card p {margin:0;
  color:#878787;
font-size: 14px;
text-align: center;
width: 100%;
}




.icon-box{width:40px;
  color:#30AA4D;
 min-width: 40px;
height: 40px;
opacity: 1;
border-radius: 8px;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center;


}
.container{width:90%;
margin: 0 auto;
max-width:1200px;}


.about-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}



