
@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_24pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
}

.hero-section{
    margin: 0 auto;
    background-image:
    linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url("./images/container1.png");
    height: 900px;
    width:100%;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff;
    padding: 24px 60px 80px 60px;
    box-sizing: border-box;
}
.navbar{position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


li{list-style: none;}

.logo{width: 128px;
height: 128px;
opacity: 1;
margin-left: 8px;
padding:  16px 8px;
display: block;
}



.hero-content{
  margin: auto;
  text-align: center;
  max-width: 768;
  width: 100%;
height: auto;
opacity: 1;
color:#ffffff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column
}

.nav-links{display: flex;
flex-direction: row;
gap:32px;
}

.nav-links a{

  color: #ffffff !important;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.nav-actions{
display: flex;
align-items: center;
color: #ffffff;
gap:20px
}

.btn-quote{
background-color: rgba(255,255,255,0.2);
color: #ffffff;
text-decoration: none;
width: 120;
height: 36;
padding: 7.5px 25px 8.5px 25px;
opacity: 1;
border-radius: 6px;
font-size: 14px;
}



.hero-content h1{ 
font-weight: 700;
font-size: 96px;
line-height: 120px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
font-family: 'Inter' , sans-serif;
}


.hero-content p{
  max-width: 768px;
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: 'Inter' , sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 39px; 
letter-spacing: 0.07px;
}


.green-btn{
display: inline-flex ;
align-items: center;
border: none;
box-sizing: border-box;
justify-content: center;
text-align: center;
text-decoration: none;
color: #ffffff;
font-weight: 600;
font-family: 'Inter' , sans-serif;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
background-color:#30AA4D;
width: 283px;
height: 40px;
padding: 16px 40px;
opacity: 1;
border-radius: 6px;


}


.vid-btn{gap: 8px;
  align-items: center;
  display: inline-flex;
font-family: 'Inter' , sans-serif;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
text-decoration: none;
color: #ffffff;
border:  2px solid #ffffff;
box-sizing: border-box;
height: 40px;
padding: 16px 18px;
}

.hero-btns{

  margin-top: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.mouse{display: flex;
  position: relative;
  border-radius: 16777200px;
border: 2px solid #FFF;
width: 24px;
height: 40px;
justify-content: center;
}
.wheel{
  width: 4px;
height: 12px;
border-radius: 16777200px;
opacity: 0.6139;
background: #FFF;
top:8px;
position: absolute;
}
.scroll-down{
  display: inline-block;
  justify-content: center;
  margin-top: 150px !important;
  cursor: pointer;
  text-decoration: none;
}
html{scroll-behavior: smooth;}

.about{
display: flex;
background-color: #23563C;
align-items: center;
justify-content: center;
gap: 40px;
color: #ffffff;
padding:96px 0;
width: 100%;
margin: 0 auto;
font-family: 'Inter' , sans-serif;
}


.content-left{
  flex: 1;
  width: 50%;
}

.content-left .sub-title{font-family: Font 1;
font-weight: 600;
font-family: 'Inter' , sans-serif;
font-size: 14px ;
line-height: 20px;
letter-spacing:0.35px;
vertical-align: middle;
text-transform: uppercase;
}

.content-left h2{
font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 40px;
letter-spacing: 0%;
vertical-align: middle;
font-family: 'Inter' , sans-serif;
}


.content-left .example {
color: #D1D5DC;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.25px; 
letter-spacing: -0.439px;
font-family: 'Inter' , sans-serif;
}

.feature-item p {color:#99A1AF;
  font-family: 'Inter' , sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: -0.15px;}

.feature-grid{
display: grid;
grid-template-columns: 1fr 1fr ;
margin-bottom: 30px;
gap:12px;
margin-bottom: 25px;
}

.btn-read-more{
display: inline-block;
background-color: #ffffff;
width: 202;
height: 40;
opacity: 1;
padding-top: 12px;
padding-right: 32px;
padding-bottom: 12px;
padding-left: 32px;
border-radius: 6px;
text-decoration: none;
color:#123205;
font-family: 'Inter' , sans-serif;
}

 .img-right img{
  width: 100%;
max-width: 544px;
height:auto;
opacity: 1;
border-radius: 10px;
padding: 1px;
display: block;
object-fit: cover;
}
.img-right{
  width:100%;
  flex: 1;
  position: relative !important;
max-width:548px;
overflow: hidden;}


.card{box-sizing: border-box;
  align-items: center !important;
  justify-content: space-between !important;
  bottom: 24px;
  left:24px;
  right:24px;
left:50%;
  width: 494px;
  max-width: 95% !important;
height: 102px;
border-radius: 10px;
border-top: 1px solid #384153;
padding: 16px 20px;
position: absolute !important;
background-color: rgba(255,255,255,0.95);
display: flex !important;
z-index: 99 !important;
transform: translateX(-50%) !important;
}

.card-1 , .card-2 , .card-3{
  align-items: center !important;
  flex: 1;
justify-content: center !important;
  flex-direction: column !important;
  display: flex !important;
  text-align: center !important;
}

.card h3 {
  width: 100%;
  margin: 0;
font-weight: 700;
font-style: Bold;
font-size: 24px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #00751C;
font-family: 'Inter' , sans-serif;
}

.card p {margin:0;
  color:#878787;
font-size: 14px;
text-align: center;
width: 100%;
font-family: 'Inter' , sans-serif;
}




.icon-box{width:40px;
  color:#30AA4D;
 min-width: 40px;
height: 40px;
opacity: 1;
border-radius: 8px;
background-color: #ffffff;
display: flex;
align-items: center;
justify-content: center;


}
.container{width:90%;
margin: 0 auto;
max-width:1200px;}


.about-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
  margin:0 auto;
}



.icon-cir{
  color:#ffffff;
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 64px !important;
height: 64px !important;
border-radius: 50% !important;
flex-shrink: 0 !important;
opacity: 1;
left: 66px;
background-color: #30AA4D;
text-align: center;
vertical-align: middle;
font-size: 28px;
margin-bottom: 20px;
}

.after-about{
  width:100%;
  background-color: #ffffff;
  padding: 80px 0;
  box-sizing: border-box;
font-family: 'Inter' , sans-serif;}

.card-exps{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  max-width: 1152px;
  width:100%;
height: 328.25px;
min-height: 328.25px;
gap: 32px;
opacity: 1;
margin: 0 auto;
box-sizing: border-box;
}

.after-about h2{
font-weight: 700;
font-family: 'Inter' , sans-serif;
font-size: 36px;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color:#101828;
width: 1152;
height: 40px;
opacity: 1;
margin-bottom: 48px;
}

.after-about h3{
font-family: 'Inter' , sans-serif;
  margin: 16px 0 8px 0;
font-weight:700;
font-style: Bold;
font-size: 36px;
line-height: 40 px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color:#005E16;

}



.after-about h4 {font-weight: 600;
  font-size: 16px;
font-family: 'Inter' , sans-serif;
height: auto !important;
opacity: 1;
top: 128px;
text-align: center;
vertical-align: middle;
width:100%;
margin: 0 0 10px 0;

}


.after-about p {
  font-family: 'Inter' , sans-serif;
font-weight: 400;
font-size: 14px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color:#4A5565;
}


.card-exps > div {
width:264px;
min-height: 328.25px;
background-color: #ffffff;
border-radius: 10px;
border: 1px solid #e5e7eb;
display: flex;
flex-direction: column;
align-items:center;
text-align: center;
padding: 34px 20px;
box-sizing:border-box ;
font-family: 'Inter' , sans-serif;

}

.services{display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
padding: 80px auto;
margin: 0 auto;
height:auto;
box-sizing: border-box;
width: 100%;
padding: 0 20px;
font-family: 'Inter' , sans-serif;
background-color: #ECECEC;}

.services-header{
  text-align: center;
  max-width: 650px;
  margin-bottom: 48px;
}

.services h5{color: #005E16;
font-weight: 600;
font-style:  Bold;
font-size: 14px;
line-height: 20px;
text-align: center;
vertical-align: middle;
text-transform: uppercase;
display: flex;
justify-content: center;
margin: 0 0 12px 0;
margin-top: 95px !important;
font-family: 'Inter' , sans-serif;
}

.services h2{
  color:#101828;
font-weight: 700;
font-style: Bold;
font-size: 36px;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
display: flex;
justify-content: center;
font-family: 'Inter' , sans-serif;
}

.services p{color:#4A5565;
font-weight:400;
font-family: 'Inter' , sans-serif;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
}



.div-services{display:grid;
grid-template-columns: 1fr 1fr;
max-width: 1440px;
height:auto;
opacity: 1;
margin : 0 auto ;
width:100% !important;
}

.services-item img {
  max-width: 656px;
  width:100% !important;
height: 320px;
opacity: 1;
border-radius: 8px;
object-fit: cover;
}

.services-item h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
font-weight: 700px;
font-size: 20px;
line-height: 25px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #101828;
font-family: 'Inter' , sans-serif;
}



.btn-services{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items:center ;
  text-decoration: none;
  background-color: #005E16;
  width: 164px;
height: 36px;
opacity: 1;
padding: 0 16px;
gap: 8px;
border-radius: 8px;
color: #ffffff;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
margin : 40px auto 0 auto;
margin-bottom: 35px !important;
}



.opinions{
padding: 96px 0;
background-color: #ffffff;
text-align: center;
}

.opinions h2 {color: #101828;
text-align: center;
font-family: 'Inter' , sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.369px;}

.div-opinions{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
max-width: 1152px;
height: 261px;
opacity: 1;
gap: 32px;
margin: 0 auto;
padding: 0 20px;
box-sizing: border-box;
}

.opinion-card{flex: 1;
border-radius: 10px;
border: 1px solid #E5E7EB;
background: #FFF;
padding: 24px;
text-align: left;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.qoute-text{flex-grow: 1;
margin-bottom: 24px;}
.location{margin: 0;}

.fa-quote-right{color:#005E16;
  margin-bottom: 16px;
font-size:24px;
font-family: 'Inter' , sans-serif;}

.opinion-card .qoute-text{
  
  color: #364153;
font-family: 'Inter' , sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
letter-spacing: -0.312px;
margin-bottom: 24px;
}

.opinion-card h5{color: #101828;
font-family: 'Inter' , sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; 
letter-spacing: -0.312px;
border-top: 1px solid #E5E7EB;}


.opinion-card .location{color: #6A7282;
font-family: 'Inter' , sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
letter-spacing: -0.15px;
margin-bottom: 24px !important; }

.sub-footer{
display: flex !important;
justify-content: space-between;
align-items: flex-start;
opacity: 1;
padding-bottom: 90px;
gap: 224px;
max-width: 1152px;
margin:0 auto;
padding:0 20px;
width:100% !important;
box-sizing: border-box;
margin-bottom: 90px !important;
margin-top: 40px !important;
}

.footerr{background-color: #23563C;
width:100%;
height: auto;
padding: 60px 0 20px 0;
}

.footer-col{flex:1;}

.footer-col ul{
  list-style: none;
  padding: 0;
  padding-left: 0 !important;
  margin:0;
}


.footer-col ul li a{text-decoration: none;
  color:#D1D5DC;color: #D1D5DC;
text-align: center;
font-family: 'Inter' , sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: -0.439px;}


.cpyRight{box-sizing: border-box;
  text-align: center;
  background-color: #23563C;
  color:#99A1AF;
font-weight: 400;
font-family: 'Inter' , sans-serif;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
width: 100%;
height:  auto;
opacity: 1;
padding-top: 24px;
padding-bottom:24px;
border-top: 1px solid rgba(255,255,255,0.2);
width:100%;
margin: 0 auto;
max-width: 1152px;
}
.footer-col p {color: #D1D5DC;color: #D1D5DC;
font-family: 'Inter' , sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.25px; 
letter-spacing: -0.439px;}
.footer-col h3{color:#ffffff;
color: #FFF;
font-family: 'Inter' , sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px; 
letter-spacing: -0.449px;}
.contact-item{color:#D1D5DC;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  font-family: 'Inter' , sans-serif;
}
.contact-item a {text-decoration: none;
color: #D1D5DC;
font-family: 'Inter' , sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.312px;}
.footer-logo{height: 128px;
flex-shrink: 0;
align-self: stretch;
margin-bottom: 16px;}
.social-icons a{color: #ffffff;
height: 24px;
align-self: stretch;
font-family: 'Inter' , sans-serif;}


.social-icons{display: flex;
align-items: center;
margin-top:48px ;
margin-left: 0 auto;
gap:18px;}

.social-icons a{color:#ffffff;
display: inline-flex;
align-items: center;
justify-content: center;
text-decoration: none;}
.btn-emergency ion-icon{display: flex;
padding: 8px;
flex-direction: column;
align-items: flex-start;
  width: 24px;
height: 24px;
  border-radius: 16777200px;
background: rgba(255, 255, 255, 0.20);}

.emergency-card{display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
width: 892px;
height: 104px;
justify-content: space-between;
opacity: 1;
margin: 0 auto 32px auto;
background-color: #ffffff;
box-sizing: border-box;
border-radius: 10px;
border: 2px solid #005E16;
background: #FFF;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
padding: 24px 32px;
gap:24px;
}

.emergency-logo img {max-width: 124.453px;
height:96px;
flex-shrink: 0;
display: block;
}
.emergency-infor{display: flex;
flex-direction: column;
gap: 4px;}

.emergency-infor h3{
margin: 0;
  color: #005E16;
font-family: 'Inter' , sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
letter-spacing: 0.07px;
}

.emergency-infor p{
  margin: 0;
  color: #4A5565;
font-family: 'Inter' , sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.312px;}

.btn-emergency{
display: flex;
align-items: center;
gap: 16px;
background-color: #005E16;
border-radius: 10px;
border: 2px solid #005E16;
box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 4px 6px -4px rgba(0, 0, 0, 0.10);
padding: 12px 24px;
text-decoration: none;
color: #ffffff;
white-space: nowrap;
}

.btn-emergency i{font-size:20px ;}


.btn-text{display:flex;
flex-direction: column;
text-align: left;}

.btn-text .label{font-size: 14px;
opacity: 0.9;}


.btn-text .num {
font-family: 'Inter' , sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
letter-spacing: -0.449px;
}
.menu-btn{
    color: #ffffff;
    padding: 8px;
    display: none;
cursor: pointer;
background: none;
border: none;
font-size: 24px;
outline: none !important;
background-color: transparent !important;
}



@media (max-width: 992px) {
  .navbar{gap:15px;}
.nav-links{gap:10px;}
.nav-links li a{font-size: 10px;}



  .hero-section {
    height: auto;
    padding: 24px 20px 60px 20px;
  }

  .hero-content h1 {
    font-size: 54px;
    line-height: 64px;
  }

  .hero-content p {
    font-size: 18px;
    line-height: 28px;
  }

  .about-container {
    flex-direction: column;
    padding: 0 20px;
  }

  .content-left, .img-right {
    width: 100%;
  }

  .img-right img {
    max-width: 100%;
    height: auto;
  }

  .card-exps {
    flex-wrap: wrap;
    height: auto;
    min-height: auto;
  }

  .card-exps > div {
    width: 45%;
  }

  .div-services {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .services-item img {
    width: 100%;
    height: auto;
  }

  .div-opinions {
    flex-direction: column;
    height: auto;
  }

  .sub-footer {
    flex-direction: column;
    gap: 40px;
  }
}



@media (max-width: 768px) {
   .nav-links {
    display: none; 
    flex-direction: column;
    width:100%;
    position: absolute;
top:100%;
left:10px;
text-align: center;
z-index: 9999;
background-color: #121212;
top: 100%;
left: 0;
padding: 15px 20px;
width:max-content;
min-width: 180px;
  }
  
  .nav-links.active{display: flex;}
.menu-btn{border: none;
  cursor: pointer;
  font-size: 24px;
    background-color: transparent !important;
display: block !important;
}

  .hero-content h1 {
    font-size: 38px;
    line-height: 48px;
  }

  .hero-btns {
    flex-direction: column;
    gap: 12px;
  }

  .green-btn, .vid-btn {
    width: 100%;
    box-sizing: border-box;
  }


  .feature-grid {
    grid-template-columns: 1fr; 
  }

  .card {padding:16px 12px;
    position: relative !important;
    left: 0 !important;
    transform: none !important;
    width: 100%;
    margin-top: 20px;
    height: auto;
    box-sizing: border-box;
    flex-direction: row !important;
    margin-top: -30px;
    bottom: auto;
left:auto;
right:auto;
  }


  .after-about h2 {
    font-size: 26px;
    padding: 0 15px;
  }

  .card-exps > div {
    width: 100%;
  }

  .services h2 {
    font-size: 26px;
    line-height: 34px;
  }


  .emergency-card {
    flex-direction: column;
    height: auto;
    text-align: center;
    gap: 20px;
    padding: 24px 16px;
  }

  .emergency-infor {
    align-items: center;
  }

  .btn-emergency {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }

  .emergency-card {
    width: 90% !important;
    max-width: 100%;
    margin: 20px auto;
    flex-direction: column;
    text-align: center;
    padding: 20px 15px;
    gap: 15px;
    box-sizing: border-box;
  }

  .emergency-infor {
    text-align: center;
  }

  .btn-emergency {
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
  }




  .footerr {
    padding: 40px 0 10px 0;
  }
.sub-footer{display: flex;
flex-direction: column;
align-items: center;
text-align: center;
gap: 32px;
padding: 40px 20px;}
  .footer-col {
    text-align: center;
  }

  .contact-item {
    justify-content: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 12px;
  }



}
